@import "./partial/resets";
@import "./partial/bootstrap-override";

body {
  font-family: "Roboto", sans-serif;
  header {
    nav {
      i {
        cursor: pointer;
        &:hover {
          color: var(--bs-navbar-hover-color);
        }
      }
    }
  }
  main {
    div.card {
      img {
        max-height: 250px;
      }
    }
  }
}
